[flake8]
max-line-length = 127
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .codeberg,
    assets,
    test_downloads
ignore = 
    E501,
    W503,
    E203
max-complexity = 10

